$primary-color :#29D882;
$header-p :#21272F;
$color: #00C99C;
$black: #333;
$white: white;
// $bgColor: #ebf0f0;
$bgColor: #F6F8FA;
$lightBlack: #777;
$orange: #FD6179;
$blue: #1f7ae2;
$purple: #4E5BDE;